# Иcполняемые файлы программы
hash_sha1
# Временные тестовые файлы
test_file.txt
empty.txt
hello.txt
test.txt

# Шаблон для любых временных .txt файлов
*.txt

# Резервные копии
*.bak
*.backup
*~

# Объектные файлы
*.o
*.obj

# Логи
*.log
